$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
//  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.ui {
  font-weight: 100;
  padding: 1em;
}

.page-header h1 {
  font-size: 3em;
  font-weight: 100;
}

.network {
  z-index: 0;
  height: 70%;
  background: radial-gradient(circle farthest-corner at center center, #ffffff 1%, #777872 100%);
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d3view {
  height: 2000px;
  margin: 0;
  padding: 2em;
  z-index: 0;
  background-color: #c9c9c9;
}



.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #e11;
  stroke-width: .5px;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

